[user]
	name = Andrej Zacharevicz
	email = andrej@zahar.ws
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
[merge]
	tool = vimdiff
[alias]
	st = status
	co = commit
	ch = checkout
	ps = push
	pl = pull
