[user]
	name = Andrej Zakharevich
	email = andrej@zahar.ws
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[alias]
	st = status
	co = commit
	ch = checkout
	ps = push
	pl = pull
